.Info {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
}

.pr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.symbol, .rate {
    display: inline-flex;
    margin-right: 10px; 
}


.symbol-rate-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
