body{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    
}



button {
    position: relative;
    width: 20%;
    border: 2px solid #ff0000;
    background-color: #ff0000;
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
  }

  #selezione_piatti{
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
  }