.Info_Container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #c6c6c6;
    padding: 20px;
    border-radius: 20px;
    width: 67%;
    height: 100%;
}

.title {
    text-align: center;    
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 20px;    
}

.children-container {
    display: flex;         
    justify-content: space-around; 
    width: 100%;            
}

.date {
    margin-top: 20px; /* Spazio sopra la data */
    font-size: 16px;  /* Dimensione del testo della data */
    color: #333;      /* Colore del testo della data */
    text-align: center; /* Centra la data */
}